.mobileSubMenu {
  composes: mobileMenu from '../MobileMenu.module.scss';
  top: 64px;
  z-index: 1000;
  max-width: 100%;

  &Body {
    border-top: 1px solid #e6ecf2;
    padding: 0 16px;
  }
}

.accordionItem {
  background: #f7f8fa;
}

.accordionMenuItem {
  border-bottom: none;
  font-weight: 400;
}

.rotated180 {
  transform: rotate(180deg);
}

.mobileMenuItem {
  composes: mobileMenuItem from '../MobileMenu.module.scss';
  justify-content: flex-start;
}