.languageBlock {
  justify-content: flex-start;
  border-bottom: none;
}

.languageItem {
  margin-right: 24px;
  cursor: pointer;
  color: #C4C4C4;
}

.languageItemDesktop {
  cursor: pointer;
  margin-right: 5px;
  color: #C4C4C4;
}

.active {
  color: #0a7e3e;
}